/* Your Website Styles */


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

body {
  background: #dcdcdc;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
  line-height: 1.618em;
  margin-top: 0.20225em;
  margin-bottom: 0.4045em; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: .33em;
    font-family: 'Open Sans', sans-serif; }

h1 {
  font-size: 3.3333em; }

h2 {
  font-size: 2.6667em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.3333em; }

h5 {
  font-size: 1.1667em; }

h6 {
  font-size: 1em; }

p {
  line-height: 1.618em;
  margin-bottom: 0.4045em;
  font-size: 1em; }

/* hell yeah*/
.container {
  margin-top: 1em;
}

.box-left h1 {
  margin-top: 0;
  border-top: .05em solid #000;
  border-bottom: .05em solid #000;
  text-align: center;
}

.box-left h2 {
  color: #111;
  border-top: .05em solid #000;
  border-bottom: .05em solid #000;
  text-align: center;
  text-transform: uppercase;
}

.box-left h2:before, .box-left h2:after {
  content: "\2219";
}

.box-left p {
  text-align: justify;
}

.mission {
  margin-bottom: 4em;
}

.box-right {
  background: #fff;
  color: #222;
  padding-top: 1.2em;
}

.box-right h2 {
  color: cornflowerblue;
  border-bottom: .05em solid cornflowerblue;
  text-transform: uppercase;
  text-align: center;
  width:450px;
  margin: 0 auto;
  margin-bottom: .25em;
}

.box-right h2:before, .box-right h2:after {
  content: "\2219";
}

.box-right p {
  margin: 5px 20px 0px 20px;
  text-align: justify;
}

.right-article{
  margin-bottom: 30px;
}

h3.date {
  line-height: .7em;
  width: 158px;
  margin: 0 10px 0 20px;
  float: left;
  color: #555;
  text-align: center;
}

h3.date small {
  float: left;
}
h3.date small:last-of-type {
  float: right;
}
h4.company-name {
  color: #444;
  float: right;
  width: 272px;
  margin: 1.22em 20px .1618em 10px;
  line-height: 1em;
}

p.company-info {
  float: right;
  width: 272px;
  margin: 0 20px 1em 10px;
  line-height: 1.4em;
}

.random h2 {
  border-top: 1em solid #000;
  border-bottom: .1em solid #000;
  text-transform: uppercase;
  text-align: center;
}

.random h2:before, .random h2:after {
  content: "\2219";
}

.one-em {
  margin-bottom: 1em;
}
